body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00bfff;
}

nav {
  background-color: #6c757d;
}

.container-fluid {
  padding: 0;
}

.bg-dark {
  background-color: #343a40 !important;
  height: 100vh; /* Full height */
}

.bg-white {
  background-color: #ffffff;
  height: 100vh; /* Full height */
}

p {
  margin: 0;
}
